.ant-form {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
}

.ant-table-wrapper {
    clear: both;
    max-width: 100%;
}

.ant-spin-nested-loading {
    position: relative;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.ant-pagination-prev {
    border-radius: 50%;
    color: brown;
}

.ant-pagination-item-link{
    border-radius: 50%;
    border-color: brown;
}
